@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button, 
  a, 
  [role="button"] {
    -webkit-tap-highlight-color: transparent;
    @apply outline-none focus:outline-none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body {
  @apply font-pretendard antialiased text-content-primary bg-surface-base;
}

::selection {
  background-color: #FFD0CC;
  color: #000000;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../shared/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyRelay';
  src: url('../shared/assets/fonts/HakgyoansimYieodalligiL.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YunChorokwoosanEoriniMinguk';
  src: url('../shared/assets/fonts/YoonChildfundkoreaMinGuk.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galmuri9';
  src: url('../shared/assets/fonts/Galmuri9.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
