@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-1: "Sandoll Geobok";
  --font-2: "Sandoll GtNeoCond";
  --font-3: "SD Jan";
  --font-4: "SD WalkieTalkie Round";
  --font-5: "SD Psyche";
  --font-6: "SD Heululing";
  --font-7: "SD Fishtail";
  --font-8: "SD PixelBimiljjokji";
  --font-9: "SD PixelGoodbam";
  --font-10: "SD PixelYosuljipangi";
  --font-11: "Sandoll Euseuseu";
  --font-12: "Sandoll Ggigigig";
  --font-13: "Sandoll HoyoyoColor";
  --font-14: "Sandoll Dunggulrim2";
  --font-15: "Sandoll Epilogue";
  --font-16: "Sandoll Shootdoli";
  --font-17: "Sandoll Peperoday";
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@layer base {
  body {
    background-color: #F5F5F5;
  }

  button,
  a,
  [role="button"] {
    -webkit-tap-highlight-color: transparent;
    @apply outline-none focus:outline-none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body {
  font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  @apply antialiased text-content-primary bg-surface-base;
}


::selection {
  background-color: #FFD0CC;
  color: #000000;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../shared/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyRelay';
  src: url('../shared/assets/fonts/HakgyoansimYieodalligiL.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YunChorokwoosanEoriniMinguk';
  src: url('../shared/assets/fonts/YoonChildfundkoreaMinGuk.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galmuri9';
  src: url('../shared/assets/fonts/Galmuri9.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
